.recipe {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-top: 150px;
    overflow: visible;
    width: 90%;
    left: 5%;

    .recipe__link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 30;
    }

    .recipe__img {
        position: absolute;
        top: -55px;
        z-index: 90;

        img {
            width: 50%;
            margin-left: 25%;
            box-shadow: 0px 0px 15px 2px #c3c3c3;
            border-radius: 50%;
        }

        .recipe__favourite-icon {
            background: #c3c3c3;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            width: 45px;
            height: 45px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 55px;
            right: 0;
            z-index: 40;
            box-sizing: border-box;
            
            > span {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    ion-card-header {
        padding-bottom: 5px;
        margin-top: -45px;

        ion-card-title {
            font-size: 26px;
            margin-bottom: 8px;
        }
    }

    ion-card-subtitle {
        display: flex;

        .recipe__time {
            display: flex;
            align-items: center;
            margin-right: 18px;
        }

        ion-icon {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        ion-label {
            font-size: 12px;
        }
    }

    ion-card-content {
        margin-top: 10px;
        padding-bottom: 30px;
    }

    .card-line-clamp {
        font-size: 18px;
        line-height: 18px;
    }
}