@import '../assets/variables/font-faces.scss';

* {
    font-family: 'Lora Regular';
}

/* Ion Back Button */
ion-back-button {
    --color: #202020;
}

/* Page Header and Title */
ion-header {
    height: 50px;

    ion-toolbar {
        height: 100%;
        display: flex;
        --border-color: #fff;
    }

    ion-title {
        font-size: 22px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0;
    }
}

/* Page title */
.page-title {
    font-size: 36px;
    line-height: 32px;
    margin-top: 0;
}

/* Pagina Recipes */
.recipes-page {
    .page-title {
        margin-bottom: 30px;
    }
}

/* Pagina RecipeDetails */
.recipe-details {
    .recipe-details__image {
        position: relative;

        img {
            width: 100%;
        }
    }

    .recipe-details__info {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0 20px;

        > p {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            ion-icon {
                width: 25px;
                height: 25px;
                background: #fff;
                padding: 10px;
                border-radius: 10%;
            }
        }
    }

    .recipe-details__description {
        margin-top: 15px;
        padding: 0 15px;

        > h2 {
            font-size: 40px;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 0;
        }

        > p {
            margin-top: 10px;
        }
    }
}

/* Pagina Pantry */
.pantry-page {
    ion-header {
        ion-toolbar {
            --background: transparent;
            --border-width: 0 !important;
            --padding-bottom: 0;
        }
    }

    ion-content {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;

        ion-label {
            font-size: 24px;
            color: #e6cd93;
        }
    }

    button {
        position: absolute;
        width: calc(100% - 2em);
        margin: 0 1em;
        bottom: 20px;
        font-weight: bold;
        border-radius: 20px;
        background: #e6cd93 !important;
        color: #6a6661 !important;
        text-transform: uppercase;
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }

    ion-list {
        background: #6a6661 !important;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        padding: 30px 20px;
        background: transparent;
    }

    ion-item-sliding {
        box-shadow: 0 0 15px -4px #666;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    ion-item {
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        --padding-start: 0;
        --padding-end: 0;

        img {
            width: 20%;
            margin-left: 4%;
            height: auto;
        }

        .product__info {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 76%;
            padding: 10px 15px;

            .product__title {
                font-size: 18px;
                font-weight: 600;
                padding-right: 30px;
                margin-bottom: 5px;
            }

            .product__quantity {
                position: absolute;
                top: 15px;
                right: 22px;
                font-size: 12px;
                font-weight: 300;
            }

            .sliding-item-line-clamp {
                margin: 0;
                font-size: 14px;
                line-height: 18px;
                font-weight: 300;
            }
        }
    }
}