@font-face {
    font-family: 'Lora Regular';
    src: url('../fonts/Lora/static/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Lora Italic';
    src: url('../fonts/Lora/static/Lora-Italic.ttf');
}

@font-face {
    font-family: 'Lora Semibold';
    src: url('../fonts/Lora/static/Lora-SemiBold.ttf');
}

@font-face {
    font-family: 'Lora Bold';
    src: url('../fonts/Lora/static/Lora-Bold.ttf');
}