.search {
    position: relative;

    ion-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -9px;
        font-size: 18px;
        opacity: .8;
    }

    #searchBar {
        border-radius: 15px;
        padding: 12px 20px 12px 40px;
        border: 0;
        outline: 0;
        width: 100%;
        box-shadow: 0px 0px 12px -8px #000;
        font-size: 14px;
    }
}